<!-- views/components/about -->
<section class="about section bd-container" id="about">
    <div class="about__container  bd-grid">
        <div class="about__data">
            <span class="section-subtitle about__initial">مين احنا</span>
            <h2 class="section-title about__initial">عن المتجر</h2>
            <p class="about__description">نص تجريبي: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <a href="#menu" class="button">شوف المينيو</a>
        </div>
        <img src="Frontend/img/EO.png" alt="" class="about__img">
    </div>
</section>
