<!-- views/components/about -->
<footer class="footer section bd-container">
    <div class="footer__container bd-grid">
        <div class="footer__content">
            <h3 class="footer__title">العنوان</h3>
            <ul>
                <li>West Bank, Palestine</li>
                <li>059-1234567</li>
                <li>contact@yosf143.com</li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">روابط أخرى</h3>
            <ul>
                <li><a href="/policy" class="footer__link">سياسة الترجيع و التوصيل</a></li>
                <li><a href="#" class="footer__link">دعم العملاء</a></li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">مواقع التواصل الإجتماعي</h3>
            <ul>
                <a href="" class="footer__social facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="https://instagram.com/yosf.143" class="footer__social instagram"><i class="fab fa-instagram"></i></a>
            </ul>
        </div>
 
        <div class="footer__content">
          
            <img src="/Frontend/img/payments.png" alt="طرق الدفع المتاحة" class="footer__payments-img">
        </div>
    </div>

    <p class="footer__copy">&#169; easyOrder | Made with  <i class="fa-solid fa-heart"></i>  by yosf.143</p>
</footer>
