<!-- views/components/home -->
<section class="home" id="home">
    <div class="home__container bd-container bd-grid">
        <div class="home__data">
            <h1 class="home__title">easyOrder App</h1>
            <h2 class="home__subtitle">نسخة للعرض فقط</h2>
            <a href="#menu" class="button">شوف المينيو</a>
        </div>
        <img src="Frontend/img/EO.png" alt="" class="home__img" style="width: 240px; height: 240px;">
    </div>
</section>
