<!-- views/frontend/policy -->
<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Frontend/css/style.css">

    <title>سياسة التوصيل و الترجيع</title>
    <link rel="icon" href="Frontend/eo.ico" type="image/x-icon">
</head>
<body>
    <nav class="nav bd-container">
        <a href="/" class="nav__checkout">الصفحة الرئيسية</a>
         

     
        
       
    </nav>

    <main class="l-main">
        
       
        <section class="section">
            <div class="bd-container">
                <h2 class="section-title">سياسة الترجيع</h2>
                <p class="section-subtitle">1.</p>
                <p class="section-subtitle">2.</p>
                <p class="section-subtitle">3.</p>
       
            </div>
        </section>
 
        <section class="section">
            <div class="bd-container">
                <h2 class="section-title">سياسة التوصيل</h2>
                <p class="section-subtitle">1.</p>
                <p class="section-subtitle">2.</p>
                <p class="section-subtitle">3.</p>
            
            </div>
        </section>
       
        <footer class="footer section bd-container">
            <div class="footer__container bd-grid">
            </div>

            <p class="footer__copy">&#169; easyOrder | Made with  <i class="fa-solid fa-heart"></i>  by yosf.143</p>
        </footer>

 
		 <script src="https://unpkg.com/scrollreveal"></script>
		
		
		<script>
			const sr = ScrollReveal({
				origin: 'bottom',
				distance: '30px',
				duration: 1500,
				reset: true
			});
			
			sr.reveal(`.home__data, .home__img, .footer`);
		</script>
