body {
    font-family: 'Cairo', sans-serif;
    background-color: #f8f9fa;
    margin-bottom: 50px;
}

.navbar-nav .nav-link:hover {
    color: #fff;
}

.dropdown-menu {
    text-align: center;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card-link .card:hover .card-body {
    background-color: #eeeeeebf;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-body {
    background-color: #f8f9fa;
    transition: background-color 0.3s ease;
}

.card-title {
    color: #343a40;
    margin-bottom: 10px;
}

.navbar {
    background: linear-gradient(to right, #25D366, #128C7E);
}

::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1;  
}

::-webkit-scrollbar-thumb {
    background: #343a40;  
}

::-webkit-scrollbar-thumb:hover {
    background: #212529; 
}

.badge-small {
    font-size: 10px;
    padding: 3px 6px;
    border-radius: 50%;
}


@media (max-width: 767px) {
    .navbar-nav {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        text-align: center;
    }

    .nav-item {
        margin-left: 20px;
    }
    .col {
        flex: 0 0 100%; 
        max-width: 100%;
        margin-bottom: 15px;
    }
}