<!-- views/frontend/payments/cancel -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Frontend/css/style.css">

    <title>إلغاء الدفع</title>
    <link rel="icon" href="Frontend/eo.ico" type="image/x-icon">
</head>
<body>


    <main class="l-main">
       
        <section class="home" id="home">
            <div class="home__container bd-container bd-grid">
                <div class="home__data">
                    <h1 class="home__title">تم الإلغاء</h1>
                    <h3 class="home__desc">تم إلغاء عملية الدفع</h3>
                    <a href="/" class="button">الرجوع للموقع</a>
                </div>

                <img src="/Frontend/img/pC.png" alt="" class="home__img" style="width: 240px; height: 240px;">

            </div>
        </section>

      
     
        <footer class="footer section bd-container">
            <div class="footer__container bd-grid">
            </div>

            <p class="footer__copy">&#169; easyOrder | Made with  <i class="fa-solid fa-heart"></i>  by yosf.143</p>
        </footer>


    
		 <script src="https://unpkg.com/scrollreveal"></script>
		
		
		<script>
			const sr = ScrollReveal({
				origin: 'bottom',
				distance: '30px',
				duration: 1500,
				reset: true
			});
			
			sr.reveal(`.home__data, .home__img, .footer`);
		</script>
</body>
</html>
